:root {
  --fontBold: 700;
}

#researchColour {
  color: #00a3a370;
  font-weight: var(--fontBold);
  cursor: pointer;
  transition: color 0.5s ease-in;
}

#researchColour:hover {
  color: #00a3a3;
  transition: color 0.5s ease-in;
}

#homeColour {
  color: #fd8b49dc;
  font-weight: var(--fontBold);
  cursor: pointer;
  transition: color 0.5s ease-in;
}

#homeColour:hover {
  color: #e9a781dc;
  transition: color 0.5s ease-in;
}

#costColour {
  color: #004953b7;
  font-weight: var(--fontBold);
  cursor: pointer;
  transition: color 0.5s ease-in;
}
#costColour:hover {
  color: #46d7ebb7;
  font-weight: var(--fontBold);
  transition: color 0.5s ease-in;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 250vh;
}

.dogsrus {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 10vh;
}

#section2 {
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#section3 {
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#paraImgContainer1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 25rem;
  width: 100%;
  height: 100%;
  z-index: -1;
}

#para1 {
  background-color: #f5f5f5;
  width: 300px;
  border-radius: 20px;
  padding: 22px;
  text-align: center;
  margin: 0 auto;
  -webkit-animation: slide-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
  }
}
@keyframes slide-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
  }
}

#para3 {
  background-color: #f5f5f5;
  width: 300px;
  border-radius: 20px;
  padding: 22px;
  text-align: center;
  margin: 0 auto;
}

#paraImgContainer2 {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  gap: 22rem;
  max-width: 100px;
  z-index: -1;
}

#paraImgContainer3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 42vh;
  gap: 12rem;
  width: 100%;
  z-index: -1;
}

#millieContainer {
  display: flex;
  flex-direction: row;

  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: -12vh;
}

#infoLi {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40rem;
  list-style-image: url("../../Media/icons/dog-paw.png");
  background-color: #f5f5f5;
  padding: 15px;
  padding-left: 40px;
  border-radius: 20px;
}
.rotateContainer-research {
  display: flex;
  align-items: center;
  margin-right: 60vw;
  margin-top: -30vh;

  transform: rotate(-90deg);
  transition: 0.5s ease-in-out;
}

.rotateText-research {
  font-size: 6rem; /* Adjust the font size as needed */
  margin: 0; /* Optional: Adjust the margin as needed */
  white-space: nowrap; /* Prevent text from wrapping */
  z-index: -1;
}

.rotateContainer-research:hover {
  color: #00a3a370;
  transform: scale(0.5);
  transition: 0.5s ease-in;
  cursor: pointer;
}

.rotateContainer-home {
  display: flex;
  align-items: center;
  margin-left: 72vw;
  margin-top: -30vh;
  transform: rotate(90deg);
  transition: 0.5s ease-in;
}
.rotateText-home {
  font-size: 6rem; /* Adjust the font size as needed */
  margin: 0; /* Optional: Adjust the margin as needed */
  white-space: nowrap; /* Prevent text from wrapping */
  z-index: -1;
}

.rotateContainer-home:hover {
  color: #fd8b49dc;
  transform: scale(0.5);
  transition: 0.5s ease-in;
  cursor: pointer;
}

.rotateContainer-cost {
  display: flex;
  align-items: center;
  margin-right: 61vw;
  margin-top: -30vh;
  transform: rotate(-90deg);
  transition: 0.5s ease-in;
}
.rotateText-cost {
  font-size: 6rem; /* Adjust the font size as needed */
  margin: 0; /* Optional: Adjust the margin as needed */
  white-space: nowrap; /* Prevent text from wrapping */
}

.rotateContainer-cost:hover {
  color: #004953b7;
  transform: scale(0.5);
  transition: 0.5s ease-in;
  cursor: pointer;
}

/* #home.rotateText {
  display: flex;
  transform: rotate(-90deg);
  transform-origin: left top;
  white-space: nowrap;
  writing-mode: horizontal-tb;
  text-orientation: upright;
  margin-top: none;
  font-size: 100px;
} */

#masieImg {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
  /* mask-image: invert(url("/src/Media/icons/housemask.png")); */
  /* invert the mask */
  margin-top: 8vh;
  mask-repeat: no-repeat;
  mask-position: center center;
  mask-size: cover;
  -webkit-box-shadow: -16px 19px 14px 8px #00a3a370;
  box-shadow: -16px 19px 14px 8px #00a3a370;

  -webkit-animation: slide-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
  }
}
@keyframes slide-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
  }
}

#millieImg {
  width: 420px;
  height: 420px;
  object-fit: cover;
  mask-repeat: no-repeat;
  mask-position: center center;
  mask-size: cover;
  margin-top: 22vh;
  border-radius: 10px;
  -webkit-box-shadow: -16px 19px 14px 8px #fd8b496b;
  box-shadow: -16px 19px 14px 8px #fd8b496b;
}

#neilImg {
  width: 400px;
  height: 300px;
  object-fit: cover;
  /* mask-image: invert(url("/src/Media/icons/housemask.png")); */
  /* invert the mask */
  mask-repeat: no-repeat;
  mask-position: center center;
  mask-size: cover;
  margin-top: -3vh;
  border-radius: 10px;
  -webkit-box-shadow: -16px 19px 14px 8px #004953b7;
  box-shadow: -16px 19px 14px 8px #004953b7;
}

#mainHeader {
  display: flex;
  z-index: -1;
  justify-content: center;
  align-items: center;
  margin-left: 0;
  font-size: 50px;

  height: 32px;
  margin-bottom: 6vh;

  -webkit-animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

#pageTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 4vw;
  margin-bottom: 30px;
  width: 60rem;
  text-align: center;
}

.infoHeader {
  font-size: 28px;
  height: 24px;
  margin-bottom: 20px;
  font-weight: 400;
}
@media screen and (max-width: 1625px) {
  .rotateText-research {
    display: none;
  }

  .rotateText-home {
    display: none;
  }

  .rotateText-cost {
    display: none;
  }
}
@media screen and (max-width: 934px) {
  .infoContainer {
    height: 194rem;
    flex-direction: column;
    gap: 0;
  }

  #mainHeader {
    margin-left: 0;
    margin-top: 45lvh;
    font-size: 40px;
    height: 32px;
    margin-bottom: 6vh;
  }

  #pageTitle {
    width: 90vw;
    margin-bottom: 14vh;
  }

  .infoHeader {
    margin-right: 1vw;
    text-align: center;
    margin-bottom: 12vh;
  }
  #paraImgContainer1 {
    flex-direction: column;
    gap: 0;
  }

  #paraImgContainer2 {
    margin-left: 5vw;
    flex-direction: column;
    gap: 0;
  }

  #section2-title {
    margin-left: 4.3vw;
  }

  #paraImgContainer3 {
    flex-direction: column;
    gap: 0;
  }

  #section3-title {
    margin-right: 12vh;
    margin-bottom: 18vh;
  }

  #para1 {
    margin-right: 30vw;
    margin-bottom: 20px;
  }

  #para3 {
    margin-left: 24vw;
    margin-bottom: 20px;
  }

  #millieContainer {
    flex-direction: column;
    gap: 0;
  }

  #infoLi {
    width: 22rem;
    margin-bottom: 20px;
  }

  #home.rotateText {
    display: none;
  }

  #masieImg {
    margin-left: 22vw;
    margin-top: 0;
  }

  #millieImg {
    margin-top: 12vh;
  }

  #neilImg {
    margin-top: 0;
  }

  .rotateContainer-research {
    display: none;
  }
  .rotateContainer-home {
    display: none;
  }
  .rotateContainer-cost {
    display: none;
  }
}
@media screen and (max-width: 434px) {
  .infoContainer {
    height: 194rem;
    flex-direction: column;
    gap: 0;
  }

  #mainHeader {
    margin-left: 0;
    margin-top: 45lvh;
    font-size: 40px;
    height: 32px;
    margin-bottom: 6vh;
  }

  #pageTitle {
    width: 90vw;
    margin-bottom: 14vh;
  }

  .infoHeader {
    margin-right: 1vw;
    text-align: center;
    margin-bottom: 12vh;
  }
  #paraImgContainer1 {
    flex-direction: column;
    gap: 0;
  }

  #paraImgContainer2 {
    margin-left: 5vw;
    flex-direction: column;
    gap: 0;
  }

  #section2-title {
    margin-left: 4.3vw;
  }

  #paraImgContainer3 {
    flex-direction: column;
    gap: 0;
  }

  #section3-title {
    margin-right: 12vh;
    margin-bottom: 18vh;
  }

  #para1 {
    margin-right: 30vw;
    margin-bottom: 20px;
  }

  #para3 {
    margin-left: 24vw;
    margin-bottom: 20px;
  }

  #millieContainer {
    flex-direction: column;
    gap: 0;
  }

  #infoLi {
    width: 22rem;
    margin-bottom: 20px;
  }

  #home.rotateText {
    display: none;
  }

  #masieImg {
    margin-left: 22vw;
    margin-top: 0;
  }

  #millieImg {
    margin-top: 12vh;
  }

  #neilImg {
    margin-top: 0;
  }

  .rotateContainer-research {
    display: none;
  }
  .rotateContainer-home {
    display: none;
  }
  .rotateContainer-cost {
    display: none;
  }
}
