/* .footer {
    display: flex;
    /* justify-content: center; */
    /* width: 100px;
    height: 100px;
    background-color: #004953;
} */ 

.footer {
    background-color: #004953;
    padding: 20px;
    color: #ffffff;
    max-width: 100%;
  }
  
  .footer-contents {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    margin: 0 auto;
  }
  
  .footer-links a {
    color: #ffffff;
    text-decoration: none;
    /* justify-content: space-between; */
    max-width: 100%; 
    align-items: center;
  }
  
  .footer-links a:hover {
    text-decoration: underline;
  }
  
  .footer-social {
    display: flex;
    color: #ffffff;
    margin: 0 auto;
    font-size: 40px;
    align-items: center;
  }
  
  /* .footer-social .social-icon:hover {
    color: #007bff;
  } */
  
  .footer-bottom {
    text-align: center;
    margin-top: 10px;
  }
  