.homePage {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  background-color: rgb(245, 245, 245, 0.5);
  max-width: 600px;
  margin: 0 auto;
  border-radius: 15px;
  padding: 10px;
  text-align:center;
}


.scrollForDogs{
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.homePageTitle{
    display: flex; 
    justify-content: center;
    align-content: center;
    font-size: 40px;
}

.section1 {
  background-image: url("../../Media/PFAHomePage.jpg");
  background-size: cover;
  height: 100vh;
  width: 100vw;
  background-position: center center;
  /* @media screen and (max-width: 600px) */
}



.homepagePic {
  display: block;
  width: 100%;
  height: auto;
}
