.homePage {
  position: relative;
}

.homePageTitle {

    /* position: absolute;
    top: 50%;
    left: 50%; 
   // centers the text to the middle of the page, after given the top and left properties
    transform: translate(-50%, -50%);
    z-index: 1; */
  } 

.homePageTitle{
    display: flex; 
    justify-content: center;
    align-content: center;
}



.section1 {
  background-image: url("../../Media/PFAHomePage.jpg");
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

.homepagePic {
  display: block;
  width: 100%;
  height: auto;
}
