/* .swiper-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 4vw;
  max-height: 400px;
  max-width: 400px;
} */

.swiper-container {
  height: 42vh;
  width: 16vw; /* Set the maximum width you desire */
  margin: 0 auto; /* Center the Swiper horizontally */
}

.carousel-image {
  object-fit: cover;
  height: 42vh;
  width: 16vw;
  border-radius: 10px;
  margin-left: 3px;
}

@media screen and (max-width: 425px) {
  .swiper-container {
    height: 42vh;
    width: 60vw;
    margin: 0 auto;
    z-index: -5;
  }

  .carousel-image {
    height: 42vh;
    width: 60vw;
    border-radius: 10px;
    margin-left: 3px;
    z-index: -5;
  }
}
