/* .swiper-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 4vw;
  max-height: 400px;
  max-width: 400px;
} */

.swiper-container {
  max-height: 42vh;
  max-width: 16vw; /* Set the maximum width you desire */
  margin: 0 auto; /* Center the Swiper horizontally */
}

.carousel-image {
  border-radius: 10px;
  margin-left: 3px;
}
