/* .bannerTagLine {
 font-size: 1rem; rem font unit used, this may need adjusting when root font sixe is set
text-align: center;
background-image: linear-gradient(to right, rgb(255, 255, 255, 0), rgb(0, 224, 224,0.5));
}

.dogProfile {
display: flex;
justify-content: space-around;
align-items: center;    */
/* align-items: flex-start;  */



 /* .dogphotos {
  display: flex;
  align-self: flex-start;
  align-items: center;
  flex-direction: column;
 
}

.carousel {
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 1;
}

.dogInfo {
    display: inline-flex;
    align-self: flex-end;
    align-content: center;
    background-color: #F5F5F5;
    text-align: left;
    flex-direction:column; 
    align-items: center; 

}  


/* .App {
    background-color: aqua;
} */

.dogProfile {
    height: 100vh;

    background-color: pink
}

.dogphotos {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    background-color: yellow;
    height: 100%;
    width: 50%;
}

