/* .bannerTagLine {
 font-size: 1rem; rem font unit used, this may need adjusting when root font sixe is set
text-align: center;
background-image: linear-gradient(to right, rgb(255, 255, 255, 0), rgb(0, 224, 224,0.5));
}

.dogProfile {
display: flex;
justify-content: space-around;
align-items: center;    */
/* align-items: flex-start;  */



 /* .dogphotos {
  display: flex;
  align-self: flex-start;
  align-items: center;
  flex-direction: column;
 
}

.carousel {
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 1;
}

.dogInfo {
    display: inline-flex;
    align-self: flex-end;
    align-content: center;
    background-color: #F5F5F5;
    text-align: left;
    flex-direction:column; 
    align-items: center; 

}  


/* .App {
    background-color: aqua;
} */

.dummyDiv{
  height: 80px;
}
.backbutondiv{
  display: flex;
}

.backButton{
    display: flex;
    background-color: #F5F5F5; /* Green */
    border: none;
    color: #00bdbd;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    /* display: inline-block; */
    border-radius: 10px;
    font-size: 18px;
    margin-left: 25px;
    width: 16%;
  }
  #dogname{
    color: #004953;
    font-size: 300%;
    /* color: white; */
    margin: 4%;
  }

.swiper{
    z-index: 0;
}

.totalDogInfo {
    display: flex; 
    flex-direction:column;
    height: 100vh;
gap: 20px;
    justify-content: space-around;
      /* background-color: pink */
    align-content: center;
    align-items: center;
margin-bottom: 30%;

@media screen and (min-width: 768px){
  flex-direction: row;
  margin-bottom: 5%;
  
}
  }
  /* .totalDogInfo:first-child{
    display:flex ;
    align-content: flex-start;
  } */

  .dogProfileButtons{ 
    display: flex;
    background-color: #FD8B49;
    /* justify-content: space-around; */
    align-items: center; 

  
  }
  .swiper{
    /* display: flex;
    background-color: #F5F5F5;
    border-radius: 10%;
    width: 50%;
    height: 100%; */
    
  }

  .swiperandbuttons{

    /* flex-direction: column; */
    background-color: f5f5f5;
    /* flex-grow: 2; */
  }
  
  .dogStats{

    display: flex;
    max-width: 500px;
    max-height: 500px;
    height: 55%;
    width: 60%;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    background-color: #f5f5f5;
    /* margin: 0 auto; */
    border-radius: 10%;
    /* flex-grow: 1; */
  }


.backButton{
  justify-content: center;
  height: 5%;
  width: 30%;
  margin-bottom: 3%;
}
  .dogStats > p {
margin: 5px;
  }

  .dogStats > p:last-child{
margin-bottom: 25px;
  }

  .leftAlignDogInfo{
    max-width: 200px;
    margin: 0 auto;
    text-align: start;
    
  }
  .leftAlignDogInfo>*{
     /* flex-grow: 2; */
    /* height: auto; */
    /* width: auto; */
    padding: 3%;
    /* margin: 15%; */
    /* /* width: 40%; */
    height: 5%;
    /* font-size: 130%; */
    /* flex-grow: 1 ; */
    /* flex:auto; */
    /* border-style: none none dotted; */
    border-width: 2px;
    color: #004953;

  }

  .dogProfile {
      offset: 500px;    
  }

  .dogProfileButtons{

    margin: 5% auto;
    display: flex;
    max-width: 400px;
    justify-content: center;
    gap: 40px;
    background-color: white;

  }

  
  /* .dogphotos {
      display: flex;
      justify-content: space-around;
      flex-direction: column;
      background-color: yellow;
      height: 100%;
      width: 50%;
  }
   */
  .offsetdiv {
  height: 80px
  
  }

 .smalldog {
  font-size: 5px;
 }

 .bigdog {
  font-size: 10px;
 }

  .button1 {
  padding: 10px 25px;
  margin: 20px 0px 20px 0px;
  background-color: #FD8B49;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  transition-duration: 0.4s;
  transition: transform 0.3s ease;
}


.button2 {
  padding: 10px 25px;
  margin: 20px 0px 20px 0px;
  background-color: white;
  color:#FD8B49;
  border: 1px solid ;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  transition: transform 0.3s ease;
}
/* 
  transition-duration: 0.4s; */

.button1:hover {
  background-color: #00BDBD; /* Green */
  transform: scale(1.1);

  color: white;
}

.button2:hover {
  background-color: #00BDBD; /* Green */
  transform: scale(1.1);
  color: white;
} 



/* #004953 */

.dogProfileDescription,.dogProfileDescription1,.dogProfileDescription2,.dogProfileDescription3 {

text-align: center;
color: #004953;

}

.additionalInfo{
 padding-bottom: 10vh;
  max-width: 500px;
  text-align: center;
  margin: 0 auto;
}